/*
body {
	max-width: 48em;
	margin: 0 auto;
	padding: 0px @sqsGridGutter/2;
}
*/

#header { }


a {
	color: #999;
}

#content { }

#footer { }


/* HOMEPAGE
-----------------------------------------------*/

.homepage { }


/* BLOG COLLECTION
-----------------------------------------------*/

.collection-type-blog {

/* BOTH PAGES
---------------------------------------------*/

/* LIST PAGE
---------------------------------------------*/

	&.view-list { }

/* ITEM PAGE
---------------------------------------------*/

	&.view-item { }

}
